<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6efa2ed3-142e-464e-974b-573fd0cb8015" name="Project 3 Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="6efa2ed3-142e-464e-974b-573fd0cb8015fileName">Project-3-Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>PARALLELL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
